# maven ignore
target/
test-output
temp
*.jar
*.class
*.war
*.zip
*.tar
*.tar.gz
classes/

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws
logs/

# spring ide
.springBeans
.externalToolBuilders